<div class="container pt-5 pb-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Task</th>
                <th scope="col">Date</th>
                <th scope="col">Fisnised</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let todo of todos">
                <td>{{todo.id}}</td>
                <td>{{todo.task}}</td>
                <td>{{todo.date | date}} </td>
                <td>{{todo.finish}}</td>
            </tr>
        </tbody>
    </table>
</div>